doctype 5
html lang="zh-tw" 
	head
		link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"/
		link rel="stylesheet" href="style.css"/
	body
			section#work.work-section
			  header.section-header.clearfix
			    .inner
			      h2 Pick up work
			      ul.tabs-nav
			        li
			          a href="#work01"  Work 01
			        li
			          a href="#work02"  Work 02
			        li
			          a href="#work03"  Work 03
			        li
			          a href="#work04"  Work 04
			        li
			          a href="#work05"  Work 05
			  .section-body
			    section#work01.tabs-panel
			      .image-wrapper
							img src="https://api.fnkr.net/testimg/1600x400/00CED1/FFF/?text=img+placeholder"
							.content
								.inner
									h3.title Work 01
									p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
									a.read-more href="./"  Read more
			    section#work02.tabs-panel
			      .image-wrapper
							img src="https://api.fnkr.net/testimg/1600x400/00CED1/FFF/?text=img+placeholder"
							.content
								.inner
									h3.title Work 02
									p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
									a.read-more href="./"  Read more
			    section#work03.tabs-panel
			      .image-wrapper
							img src="https://api.fnkr.net/testimg/1600x400/00CED1/FFF/?text=img+placeholder"
							.content
								.inner
									h3.title Work 03
									p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
									a.read-more href="./"  Read more
			    section#work04.tabs-panel
			      .image-wrapper
							img src="https://api.fnkr.net/testimg/1600x400/00CED1/FFF/?text=img+placeholder"
							.content
								.inner
									h3.title Work 04
									p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
									a.read-more href="./"  Read more
			    section#work05.tabs-panel
			      .image-wrapper
							img src="https://api.fnkr.net/testimg/1600x400/00CED1/FFF/?text=img+placeholder"
							.content
								.inner
									h3.title Work 05
									p.description まげすぎみんなは兎が青くなくからさっきの係りの箱げをすん第一窓顔のおねがいを考えると行っですた。野ねずみは前来て出します。扉は一いう首のようをついてきまし。
									a.read-more href="./"  Read more
			script src="jquery-1.11.1.js"
			script src="main.js"
